:root {
  --tile-size: 50px;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 27px;
  color: white;
}

.t {
  background-color: blanchedalmond;
  width: var(--tile-size);
  padding-bottom: var(--tile-size);
  height: 0;
  color: black;
}

.row {
  display: flex;
  flex-direction: row;
}

img {
  width: var(--tile-size);
}
